requests==2.22.0
numpy==1.19.1
Django==3.1.12
django_crispy_forms==1.9.2
djangorestframework==3.12.1
phonenumbers==8.12.10
Pillow==7.2.0
psycopg2==2.8.6
PyPDF2==1.26.0
selenium==3.141.0
django-filter==2.4.0
django-phonenumber-field==4.0.0
django-debug-toolbar==3.1.1
drf-flex-fields==0.8.6
django-environ==0.4.5
django-bootstrap-form==3.4